/* html {
  font-size: 62.5%;
} */

/* .slideshow {
  min-height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slideshow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 85vw;
  height: 85vw;
  border: 2px solid #ea0000;
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
  overflow: hidden;
}

.carousel {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 1s ease-in-out;
}

.slides-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  flex: 0 0 auto;
  width: 20rem;
  height: 20rem;
  transform-origin: center center;
  transition: transform 0.5s, background-color 0.5s ease-in-out;
  position: relative;
}

@media screen and (min-width: 480px) {
  .slideshow::after {
    top: 40%;
  }
}

@media screen and (min-width: 768px) {
  .slideshow::after {
    top: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .slideshow::after {
    top: 20%;
  }
}

@media screen and (min-width: 1280px) {
  .slideshow::after {
    top: 0;
  }
}

@media screen and (min-width: 1650px) {
  .slideshow::after {
    top: 5%;
  }
}

@media screen and (min-width: 2000px) {
  .slideshow::after {
    top: -15%;
  }
}

.slide.active {
  background-color: #ea0000;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 4px 0 #00000040;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.slide > div {
  display: none;
}

.slide.active > div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: #000;
  color: #fff;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
}

.slide.active > div h4 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 16px;
}

.slide.active > div p {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 10px;
}

.slide.active > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide.active > div > div img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.slide.active > div > div span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
}

.slide img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.slide:nth-child(n) {
  --angle: calc(var(--rotation-angle) * (var(--index) - 1));
  --distance: var(--oval-size);
  --x: calc(var(--distance) * var(--cos-angle));
  --y: calc(var(--distance) * var(--sin-angle));

  transform: rotate(calc(var(--angle) * 1deg))
    translate(calc(var(--x) * 1rem), calc(var(--y) * 1rem));
}

@media screen and (max-width: 1024px) {
  .slide {
    --rotation-angle: 90;
    --oval-size: 25;
  }
}

@media screen and (max-width: 768px) {
  .slide {
    --rotation-angle: 90;
    --oval-size: 25;
  }
}

@media screen and (max-width: 480px) {
  .slideshow::after {
    display: none;
  }

  .slide {
    --rotation-angle: 90;
    --oval-size: 15;
  }
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slider {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-start;
  background-color: #222;
}
.circular-slider .wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 20px 0px 20px;
  overflow: hidden;
}
.circular-slider .wrapper .controls__left,
.circular-slider .wrapper .controls__right,
.circular-slider .wrapper .controls__autoplay {
  position: absolute;
  z-index: 101;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}
.circular-slider .wrapper .controls__left:hover .icon-wrapper,
.circular-slider .wrapper .controls__right:hover .icon-wrapper,
.circular-slider .wrapper .controls__autoplay:hover .icon-wrapper {
  font-size: 1.7em;
  opacity: 1;
}
.circular-slider .wrapper .controls__left .icon-wrapper,
.circular-slider .wrapper .controls__right .icon-wrapper,
.circular-slider .wrapper .controls__autoplay .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #8eb8e5;
  font-size: 1.5em;
  opacity: 0.7;
}
.circular-slider .wrapper .controls__left,
.circular-slider .wrapper .controls__right {
  top: 50%;
}
.circular-slider .wrapper .controls__left {
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.circular-slider .wrapper .controls__left:hover {
  left: 0;
}
.circular-slider .wrapper .controls__right {
  right: 0;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.circular-slider .wrapper .controls__autoplay {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.circular-slider .wrapper .controls__autoplay_running .pause {
  display: block;
}
.circular-slider .wrapper .controls__autoplay_running .run {
  display: none;
}
.circular-slider .wrapper .controls__autoplay_paused .pause {
  display: none;
}
.circular-slider .wrapper .controls__autoplay_paused .run {
  display: block;
}
.circular-slider .wrapper .slides-holder {
  border-radius: 50%;
  border: 2px solid #8eb8e5;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
.circular-slider .wrapper .slides-holder__item {
  border-radius: 50%;
  border: 2px solid #7c99b4;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  background-color: #222;
  -webkit-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}
.circular-slider .wrapper .slides-holder__item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.circular-slider .wrapper .slides-holder__item_active {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.circular-slider .wrapper .descriptions {
  position: absolute;
  bottom: 0%;
  z-index: 0;
}
.circular-slider .wrapper .descriptions__item {
  width: 100%;
  height: 0%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 0s 0s linear;
  -o-transition: opacity 0s 0s linear;
  transition: opacity 0s 0s linear;
}
.circular-slider .wrapper .descriptions__item_visible {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.6s 0s linear;
  -o-transition: opacity 0.6s 0s linear;
  transition: opacity 0.6s 0s linear;
}
.circular-slider .wrapper .descriptions__item h1,
.circular-slider .wrapper .descriptions__item .description {
  font-family: Helvetica, sans-serif;
  color: white;
  text-align: center;
}
.circular-slider .wrapper .descriptions__item h1 {
  font-size: 200%;
  padding-top: 5px;
}
.circular-slider .wrapper .descriptions__item .description {
  font-size: 100%;
  margin-top: 5px;
  padding: 0% 10%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow-y: hidden;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
