* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.slideshow {
  min-height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slideshow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 85vw;
  height: 85vw;
  border: 2px solid #ea0000;
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
  overflow: hidden;
}

.carousel {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* top: -20%; */
  flex-shrink: 0;
  transition: transform 1s;
}

.slide {
  width: 20rem;
  height: 20rem;
  position: absolute;
  z-index: 1;
  transform-origin: center center;
  transition: transform 0.5s, background-color 0.5s ease-in-out; /* Added background-color transition */
}

.slide:nth-child(1) {
  bottom: calc(100% - 80rem);
}

.slide:nth-child(2) {
  left: calc(100% - 80rem);
}

.slide:nth-child(3) {
  top: calc(100% - 80rem);
}

.slide:nth-child(4) {
  right: calc(100% - 80rem);
}

.slide.active:nth-child(1) {
  bottom: -20rem;
  /* transform: rotate(0deg); */
}

.slide.active:nth-child(2) {
  left: -20rem;
  /* transform: rotate(90deg); */
}

.slide.active:nth-child(3) {
  top: -20rem;
  /* transform: rotate(180deg); */
}

.slide.active:nth-child(4) {
  right: -20rem;
  /* transform: rotate(-90deg); */
}

@media screen and (min-width: 768px) {
  .slideshow::after {
    top: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .slideshow::after {
    top: 20%;
  }
}

@media screen and (min-width: 1280px) {
  .slideshow::after {
    top: 0;
  }
}

@media screen and (min-width: 1650px) {
  .slideshow::after {
    top: 5%;
  }
}

@media screen and (min-width: 2000px) {
  .slideshow::after {
    top: -15%;
  }
}

/* @media screen and (min-width: 4000px) {
  .slideshow::after {
    top: -155%;
  }
} */

@media screen and (max-width: 768px) {
  .carousel {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .slide:nth-child(1) {
    bottom: -60rem;
  }

  .slide:nth-child(2) {
    left: -60rem;
  }

  .slide:nth-child(3) {
    top: -60rem;
  }

  .slide:nth-child(4) {
    right: -60rem;
  }
}

@media screen and (max-width: 480px) {
  .slide:nth-child(1) {
    bottom: -40rem;
  }

  .slide:nth-child(2) {
    left: -40rem;
  }

  .slide:nth-child(3) {
    top: -40rem;
  }

  .slide:nth-child(4) {
    right: -40rem;
  }
}

.slide.active {
  background-color: #ea0000;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 4px 0 #00000040;
  transform-origin: center center;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out; /* Added background-color transition */
}

.slide > div {
  display: none;
}

.slide.active > div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: #000;
  color: #fff;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
}

.slide.active > div h4 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 16px;
}

.slide.active > div p {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 10px;
}

.slide.active > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide.active > div > div img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.slide.active > div > div span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
}

.slide img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
